@page
@model MadEasy.Pages.Dwellings.CreateModel

@{
    ViewData["Title"] = "Create-Dwelling";
}

<h1>Create a new Dwelling</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dwelling.PropertyName" class="control-label"></label>
                <input asp-for="Dwelling.PropertyName" class="form-control" />
                <span asp-validation-for="Dwelling.PropertyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dwelling.Address" class="control-label"></label>
                <textarea asp-for="Dwelling.Address" class="form-control"></textarea>
                <span asp-validation-for="Dwelling.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dwelling.AgentId" class="control-label"></label>
                <select asp-for="Dwelling.AgentId" class="form-control" asp-items="ViewBag.AgentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Dwelling.CityId" class="control-label"></label>
                <select asp-for="Dwelling.CityId" class ="form-control" asp-items="ViewBag.CityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Dwelling.SalesOfficeId" class="control-label"></label>
                <select asp-for="Dwelling.SalesOfficeId" class ="form-control" asp-items="ViewBag.SalesOfficeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Dwelling.Type" class="control-label"></label>
                <input asp-for="Dwelling.Type" class="form-control" />
                <span asp-validation-for="Dwelling.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dwelling.ExpectedPrice" class="control-label"></label>
                <input asp-for="Dwelling.ExpectedPrice" class="form-control" />
                <span asp-validation-for="Dwelling.ExpectedPrice" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Dwelling.Available" /> @Html.DisplayNameFor(model => model.Dwelling.Available)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Dwelling.DateOfListing" class="control-label"></label>
                <input asp-for="Dwelling.DateOfListing" class="form-control" />
                <span asp-validation-for="Dwelling.DateOfListing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dwelling.Note" class="control-label"></label>
                <textarea asp-for="Dwelling.Note" class="form-control"></textarea>
                <span asp-validation-for="Dwelling.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
