@page
@model MadEasy.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}
<html>
<body>
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-page="/Agents/Index">Agents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-page="/Cities/Index">Cities</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-page="/Dwellings/Index">Dwellings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-page="/Prospects/Index">Prospects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-page="/SalesOffices/Index">Sales Offices</a>
        </li>
    </ul>
</div>
    </body>
</html>
