@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="padding:30px">
    <h1 class="display-4" style="Color:yellow">
        <img src="https://lh3.googleusercontent.com/9IEftXgyWfVC85aV22HA--0wHJJ9wvm6iS6V-Za9lZRc33Rvaxi4gQnmOlLOiYQgQala6I9f-cjmpcJYbie4hmuNgG-Ylw6GYy6SuFoUOJa28AsDQVRpPCNVCFCoAI5Jesj3Ty8F91kwvczMeIGmca4wA2hXLP_d-_C_0u1X29uOad_nkRctpfwOV1buLjZLM10F4UL3JV076cr5FY8ro0KABUwYdpUfFs1vgt0vthRp7nmxR8tGP9nlxuIF8azhonJMwQSMXuXCcVoNxMScnIAgbVKcNTg8fJVrb5Rc5T-2JRsGcbIQom0lwKFnroAemmd3Zawgq9cdM9txQmPieO5bCUyuaTt5-M8MJQWWjDy8oaJFM7jnktF8ooDIFtRboeJyJ7eOzeM_kqYa-s4RubvKpQ_GwBLOmHxuti9WObi7IeZOOiBhend4CmkAv5SWaP2J7IdYoKg_prLGOjFtBW77ET0ZADxkevUuD5WQl3QrmPYOuB98Y7juC0-1Nev6RD9O84S2Q6vE3yOr5OUlc8I5wVihpPmIqxe3fNdo5wJImNX0kb5W4Hs1QXSAPWNOcS7kDMA7UwvRiXKcd5mFsa1PvQmdtGg3bz92vx2YWukwWNA_naVICQ60qJ83RqQrgLevla7aT2T5ux5sl1ceZL_Dmv_jXs1-qsdzrlmR4yJbwHwcuVRm9y62DuOm=s512-no?authuser=0" width="150" height="150" alt="Logo MadEasy" class="center">
        <strong>MadEasy</strong>
    </h1><br>
    <h2 style="color:orange">Your One Stop Destination for Your Next Dream House!</h2>
    <p style="color:navajowhite">
        We believe in providing you the best properties in town and getting you to your Dream Home! <br>Your search for a home ends right here at MadEasy, as we provide you with the best services that suits your needs.<br>
        <a href="https://magazine.realtor/home-and-design/feature/article/2020/09/how-affordable-housing-is-ramping-up" target="_blank" style="color:lightgray;">Read more on how affordable housing is ramping up!!</a>.
    </p>
</div>
<hr>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="padding-bottom:30px">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://images.adsttc.com/media/images/5e1d/02c3/3312/fd58/9c00/06e9/large_jpg/NewHouse_SA_Photo_01.jpg?1578959519" width="500" height="500" alt="House Image">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://www.khov.com/blog/wp-content/uploads/2019/08/Ranch-Style-Home-at-K.-Hovnanians-Four-Seasons-at-Belle-Terre.jpg" width="500" height="500" alt="House Image">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://archello.s3.eu-central-1.amazonaws.com/images/2018/10/11/Contemporary-Modern-House-Design-6.1539270983.8601.jpg" width="500" height="500" alt="House Image">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<hr>


<div class="container">
    <h2 style="color:darkorange;padding-bottom:50px">Our Product</h2>
    <div class="row row-cols-2">
        <div class="col" style="text-align: left">
            <img src="https://lh3.googleusercontent.com/cACJ5PmcornPtod4HnlGDUuwqgb1HcsGa7nUczBst1Hoq06AmQKp4MlmJFflRLi6ekHhFqC4V_s2VdPr4eW0-WVLtq2G2reTVyyxxbNooTDE31umOUNoDkIroSGfNtLRKNQ2oZ8tQS0avA60QeSUPaHEi21GLQIads3ttAeE1IHhwWiBDL94uZ8Ysi6xRzr3GbUk7RuNZhyAjkKhWbhkFcAvwcFMkeiq6-cHgegT9uu2Lc4C97zrN_XkHLv1jaQZ_Qj7v2j30TZmcLSrwzu3iFMYa_DCUT2kYLK8Wn-GH8ME0AcbI7-lbHsexcU6bOx4JULsTNDoIQKfEKFlUWUUzBbLASuBrBmgizrG0iygDqdWWdmgZEReHEevwXvuMnkMGPeKqPvgdgSDv0W-vmqt6kd8VbkhAeJTBkKn6C5-fuX2b-dZRvZ9SOkxh6a4EkeJ9r9VblmKASOiftJi849qlxpTHu8QfajUX1nmSnj_wRj_Q-OMd9dH0jVRO7kE2QxSrbwodgixSWSUpRZCDsUaZRnscr5js4VAfqaDB_WxzU6EBl7Hq8AYU8AkgNjkOL0iE2Llaze2m1UlJkJUDJYSIsSohvvaD5gfziR0y0xlA8gNPkniGmB94JooiZCDFP7OIGOGop2bVom0JEiGedOht1LnZGOYToMjXRWmLDw_IsZubrUnfA4Pt3VvRbUg=s512-no?authuser=0" id="leftImage" width="200" height="200" alt="Image of House" class="center" style="padding-bottom:40px ;padding-right:30px">
        </div>
        <div class="col">
            <ul style="color:gold;font:verdana;font-size:20px">
                <li>Buying/Renting a House MadeEasy</li>
                <li>Choose a house that aligns best with your interests</li>
            </ul>
        </div>
    </div>
</div>
<hr>


<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <ul style="color:gold; font:verdana;font-size:20px">

                <li>Sign-Up with MadEasy</li>
                <li>Choose from a list of Cities</li>
                <li>Connect with our Sales Agent</li>
            </ul>
        </div>
        <div class="col" style="text-align: left">
            <img src="https://lh3.googleusercontent.com/-Hyr-1hKFr85OHDrA6FxNsoXx7RRPZzrLRis1-C5jCNOumWPP5-eY_xiGMan3VMjcWTwOtLovAMCBU3zGmweziAi8rHLiO8y9CAA3_n-xXKuSCnZ2F6yrh0dn_YIL9KgxPSP1BXctaRjZWYyiLw2r_n9v5_C4cSdnrTWK6SXlbrctDy16ipGm33c57rgAhWTlVDxU8lRCE016qiIFxk2d8PypOAMTCn7erb0a0uRFV7i2zlFY-9vVba9k6-7_YfA-Tws6MdNdzFyg8eFxGTQI6LHrP8CIe0ZRN17ttLVgQG-K3k137H-qlJAb27246oHygvaxOJfmPEWJARqVDuk0pg-UyYQUF2H-AX7cONQ3GEBqPlvR4SDDW6JkvgOjitDu92r5yiytdPA1sM2ri1Bq_WK0A_lHCsU9tqF4DGD3gOjgg9XGJWu3bUkFV19_RPc4zIe8Xp2nrmTdP4ZBcYkdr8Q6BvO1KGHonXwFtCmkm-VxOCZ9C6lcuJQp6fWqpNBhhHzaE9duoB_SwrOOIq4gUEE-UEKuXCdccC2NbQ4HFB6XagYt0NTZEr3XKcS1pU-uEZX97UAosmd8Mm0g6548LwyLET2idkKYwWSsCKBwZJt6jttLP4uAzuvytgpn4Jelo5mtu9xYaq_LmCJNCMZWf1mmU8l2kRoTuVcyHjzPfKLQa9l1cj28I0oktWe=s512-no?authuser=0" id="leftImage" width="200" height="200" alt="Image of Hiring" class="center" style="padding-bottom:40px ;padding-right:30px">
        </div>
    </div>
</div>
<hr>


<div class="container">
    <div class="row row-cols-2">
        <div class="col" style="text-align: left">
            <img src="https://lh3.googleusercontent.com/kiTxGkVd6F-rmzja_iWyp-ghp-fy2a5dVWqyjAdb151sIt6xiMiMJyvusYcw1F05e5Ue8xcIhzEq3EfK_DRSlWOm9kxBZsfbdFKKDuBz18gUGzH0yR2K4v371Wf1gEXevUY-XQUcs33uJKgnZfto6t3_Xd_eT6xgM7LKoTWdiiz7jZxU7TNoXw2vEMNjggIX7QEfRsrjWdqJNCppjLrpuxGcjVUg-A-kWaqZah0oirhyeWeWQYX2jDuAWJWw_ruKZpJWordi1RPsoRpvZx9m3lUAupnW8RdofUQt-TqFT8WBoFSn_uVTMryn9H5zu4Vc7mhCH1DLclkf3xrRzODw9OG44_tIwqmETKD7_vCc8hQHxDVFt-6MXDVti3gxzX7dl__a7ZC6NzDB-HgAfIMVeVn5cEyeVzJJgLLVL0G5snjviadqaFi0tro5zUbp5YlFQHJyGksvqBw9_997rnLlb3mtE7PHZSO8xIv8R3OTAtmfLFG34ay-kZo1C2TZfB1k1NSE8Nyt-VGcD5YF-9mpgPeOauz318ln2OYU28ncjbMjblk-v1mKQDqxPHPYK0Sy3KATJ6OOCzqpAXJ26dtU0S8PTS8wFV0WnAkJU2qiJ582895-nEQkK6WDKoswnttIhYZb4WMMdBTzflpvb-6r-4ZnFql0oR4jipP7EU7o9A508Bqvlv0zRsimtkVZ=s512-no?authuser=0" id="rightImage" width="200" height="200" alt="Image of Hiring" class="center" style="padding-bottom:40px;padding-right:30px;">
        </div>
        <div class="col">
            <ul style="color:gold;font:verdana;font-size:20px">
                <li>Choose from a list of Houses to buy/rent</li>
                <li> Sign House Agreement</li>
                <li>Live in your Dream House!!</li>
            </ul>
        </div>
    </div>
</div>
<hr>

<div class="container" style="padding-bottom:50px">
    <h2 style="color:darkorange;padding-bottom:50px">Testimonies</h2>
    <div class="row row-cols-3">
        <div class="col" style="text-align: left">
            <img src="https://lh3.googleusercontent.com/bYny4przraWzO074KiSkMhD2DmhfY6uZ1KTprfZLIWyum7VFuriwjBGBEdTjR0Dzkb0FAX9pVq1J8tsD9u6MXLP3bdYXjbDLuhDen9cn8phfnkDNTn7Dlk_HglwnQvuonBwzkPuEkv-SG4fvCK4lCHZU8YcfDl_Y2PQUNdM8IetA6Ktz6RtTkg2ud-oaOxyeJ1NyZCx9wjgBJVh9Cq8mnJ6pqFfXK5zWK3wUcjHfJ7y2xHeSIpqybz3ZTBmHAa5y9iY6bh66gjEewKuHXdvk3GaPvi8HeJHA8-eK11PYFAbclB8bqmjiQfTZgPrHOO9R6jaedAueo0tD8PthzDYdzHhYCjWbRusJvHI9AnsUXNpDnF6ronhhZWkp7pMEgRv0_AjgwC-ML6CG_-retq9R8TIL3c755Ud1WyM5ks5ddoEPFQZzRy8OcbdLMwgU40LdF86AW2Vomh-Q0G00mxguATMCZfyQN62XEXEDYApz0uciueKYQE6EnWQC2FdTmw1WIIsSJoDluGnwDxSP7rdClDyxQlLPWb3SnoFx1ujiWhuDu8RcW7UPY1LT2CTvolAIGHNeesPMhOg3hNfdnvdzKlx25GNkN2PINHovOIu3Hranr6TnIrzXpp-jwSODxxUdIShHXBqUD9lXz0bYQRqigj9w7HtH6qKew9RNvG5T3SfNbHw90QLtgbC8R6Bi=s512-no?authuser=0" id="rightImage" width="200" height="200" alt="Image of Happy Family" class="center" style="padding-bottom:40px;padding-right:30px;">
        </div>
        <div class="col">
            <img src="https://lh3.googleusercontent.com/Gy8i3MBxRTIxqqVMPs5MC1JurYFdiJdp4bKHI_lU9hLj-spxU-2wty4dPf25_Umtgq0UwbdAttRmvKxi04GIjDwTZNAgkn9iywx9VWPyDA-TdnLvmUpENFagey5HlbSOI0PQgxxDz7-Cr-fZ1syvEDvK0fv-nP-LLu9eDp1r_3ucKvAdek55V2Kb16bO04lNiMzlJoQL4GS57YZUN5ZjAt3p0-VHXUSXigOTl501iCtmEFQtcrxWQ0RKwn1-bvIxvxOQ1WFZbVQ6GahZnBgYXlOSABTxGw89JnLicgheRKf9SxSgrwPdoXZw3elp5PI-2HiKbhVoCGbZkCXDL4dvR4BA_pTZ5cQTFjAeLCY_o-uJrQktjSveo3mreP2qrjyti_hL1nzGsj-qrvpxVCrct8Hp3TsSw0HoAeph967B9n9VdGltYfj6ccvIV9EAgX8o9GWbz7v1YhmueU8vHsA-dXNhs1UjfbF57Tlub-ILzMdRCXOVJHv4krLMrc7PtcrVL8xPNn5Jh04m76kPbVWO4IKn6gDlVNfRpy8szg_lkBgzF-VPU0lD8K1TpKh6ZFQqcvNLFdWsZFSpMYDFmHTnWvZrzAoXmfiI4k3nHwThvtG-nqHhsBOJL7oNiYkOBUeZCZ_g6qrFIG191fLirkFPqcePKwzLpQFl9cxJumeVKtv6RdLaMNLdX-9wsNdO=s512-no?authuser=0" id="rightImage" width="100" height="100" alt="Comment Box" class="center" style="padding-bottom:40px;padding-right:30px;">
        </div>
        <div class="col shadow-lg p-3 mb-5 bg-white rounded" style="color:black">I have been a registered User of <strong>MadEasy</strong> and I got my Dream House at an affordable price with the consultation provided by the team of MadEasy!!<br>- <strong>Roger Moore </strong></div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row row-cols-3">
        <div class="col" style="text-align: left">
            <img src="https://lh3.googleusercontent.com/ZW4DG9kkrr_rcnLKeOAiwbBkAaXrG_jAhR51ZC0VmrCrsfWpfULylm7DzrPE-_Tk7QdRiXRt2Pm4cLiCxtdOULChhNWocoIhX2dZzzyWvYzr5G-FcdhVn0h7z6jMMhA09FZZMImD6WyQn1erYRsfR4FRLcQouBUn13ExtcnuH1-IJKrRck9A9rnuKr0ZXhWRimcCE6JjG12twEk324PwAgo7xWQln_z2SoEPAwgx9DmSCVe7_Psl5GdLMBUi_VZWltLK4Xpa2B_yNeMsEAc6uDPfBAl4C7k4DGo_QKiVg-76teQ3JQHZL0YLulfs3UgMuyXfk5ZNZzjvA1vgdb8Ckr35ttvjIDxoKohXa6zVw4LhlqrWHOKflMHUWAhUHibDUcL482_3Pi1kDy1ssqGpBVTRmnL9QSdgKAbbQBkPvs4jLXYXYi_NMYKfnZng_6Gjmbe2ocXj1czPPYzOQRMA87g3ibDwYGEV33WbWn7wRwh1CO266dBLvyPNxq7NAuHePOHlwjg4kzETht4oGyk0XXOF9yb28kwBy4zsIDZS5tbF9ZtWYrrW9J372IuT_GhKL_qkFoKSGx_l8aahemFYW8XC-o6E7Ce9iTPqg-7wKdbWwovauS9LSPJ2f2oZx8p71RcwwqlOk2q9pThwKObzuRcd31KD8fZeFBL5AYuaUCIS-PeBX-aSQkZjbLFj=s512-no?authuser=0" id="rightImage" width="200" height="200" alt="Image of Happy Family" class="center" style="padding-bottom:40px;padding-right:30px;">
        </div>
        <div class="col">
            <img src="https://lh3.googleusercontent.com/Gy8i3MBxRTIxqqVMPs5MC1JurYFdiJdp4bKHI_lU9hLj-spxU-2wty4dPf25_Umtgq0UwbdAttRmvKxi04GIjDwTZNAgkn9iywx9VWPyDA-TdnLvmUpENFagey5HlbSOI0PQgxxDz7-Cr-fZ1syvEDvK0fv-nP-LLu9eDp1r_3ucKvAdek55V2Kb16bO04lNiMzlJoQL4GS57YZUN5ZjAt3p0-VHXUSXigOTl501iCtmEFQtcrxWQ0RKwn1-bvIxvxOQ1WFZbVQ6GahZnBgYXlOSABTxGw89JnLicgheRKf9SxSgrwPdoXZw3elp5PI-2HiKbhVoCGbZkCXDL4dvR4BA_pTZ5cQTFjAeLCY_o-uJrQktjSveo3mreP2qrjyti_hL1nzGsj-qrvpxVCrct8Hp3TsSw0HoAeph967B9n9VdGltYfj6ccvIV9EAgX8o9GWbz7v1YhmueU8vHsA-dXNhs1UjfbF57Tlub-ILzMdRCXOVJHv4krLMrc7PtcrVL8xPNn5Jh04m76kPbVWO4IKn6gDlVNfRpy8szg_lkBgzF-VPU0lD8K1TpKh6ZFQqcvNLFdWsZFSpMYDFmHTnWvZrzAoXmfiI4k3nHwThvtG-nqHhsBOJL7oNiYkOBUeZCZ_g6qrFIG191fLirkFPqcePKwzLpQFl9cxJumeVKtv6RdLaMNLdX-9wsNdO=s512-no?authuser=0" id="rightImage" width="100" height="100" alt="Comment Box" class="center" style="padding-bottom:40px;padding-right:30px;">
        </div>
        <div class="col shadow-lg p-3 mb-5 bg-white rounded" style="color:black">I signedup for <strong>MadEasy</strong> for getting assistance in renting an apartment.The team helped me in leasing a house for a steal within the heart of the city.Eventually, i decided to buy a house and With the help of MadEasy Team, I was able to buy my first house!!<br>- <br><strong>Janet Williamson </strong> </div>
    </div>
</div>
