@page
@model MadEasy.Pages.ThankYouModel
@{
}
<div class="text-center" style="Color:yellow">
    <h1>You are exactly where you need to be!</h1>
    <h2>Thank you for contacting MadEasy</h2>
    <h3>We'll contact you within the next 2 days and will make your search for a house effortless.</h3>
</div>